<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open Account</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <section id="header">
        <div class="container">
            <div class="top bar">
                <div class="nav-bar">
                    <div class="title text-center">
                        <h1>Banking Website</h1>
                    </div>
                    <div class="page-title text-center">
                        <h3>Open An Account</h3>
                    </div>
                    <div class="navbar">
                        <ul class="nav-item">
                            <a class="nav-link" href="/balance">Balance</a>
                        </ul>
                        <ul class="nav-item">
                            <a class="nav-link" href="/transfer">Transfer</a>
                        </ul>
                        <ul class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="welcome-text">
        <h3>
            Hello <%= user.first_name %> <%= user.last_name %>,
        </h3>
    </section>
    <section id="open_account text-entry">
        <form action="/process_open_account" method="POST">
            Account Type: <input type="text" name="account_type"> <br>
            Initial Deposit: <input type="number" name="account_balance">
            <button type="submit">Open Account</button>
        </form>
    </section>
</body>
</html>