<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transfer</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <section id="header">
        <div class="container">
            <div class="top bar">
                <div class="nav-bar">
                    <div class="title text-center">
                        <h1>Banking Website</h1>
                    </div>
                    <div class="page-title text-center">
                        <h3>Transfers</h3>
                    </div>
                    <div class="navbar">
                        <ul class="nav-item">
                            <a class="nav-link" href="/balance">Balance</a>
                        </ul>
                        <ul class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="balance field">
        <h3>
            Hello <%= user %>
            Your Balance is:
            <%= balance %>
        </h3>
    </section>
</body>
</html>